.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.main {
  margin: auto;
}

.card {
  border: 1px solid black;
}

.cardInfo {
  display: flex;
  flex-direction: column;
}

.cardFooter {
  display: flex;
  flex-direction: column;
}
